In [1]:
#### CLASS 1 ####
print(" I love eating Python Biriani ")

 I love eating Python Biriani

In [2]:
a = 5
print(a)

5

In [3]:
"""
At first, Python looks easy
Then thing starts to get messy
at the end, I feel drowsy
"""

'\nAt first, Python looks easy\nThen thing starts to get messy\nat the end, I feel drowsy\n'

In [4]:
# Syntax Errors
if (4 > 2):
  print("If 4 is greater than 2")

If 4 is greater than 2

In [5]:
# Finding type of variables
a = 6
b = 6.5
c = "Ifaez"

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [6]:
a_1 = 4
print(a * c)

IfaezIfaezIfaezIfaezIfaezIfaez

In [7]:
m = 4.5
n = 2
q = m * n
print(q)

9.0

In [8]:
# Modulus Function

p = m % n
print(p)

0.5

In [9]:
y = str("peter")
t = 5
print(y * t)

peterpeterpeterpeterpeter

In [10]:
# Assigning Multiple Names to multiple variables
class_mate_1, class_mate_2, class_mate_3 = "Somip", "Ifaez", "Vubon"
print(class_mate_1)
print(class_mate_2)
print(class_mate_3)

Somip
Ifaez
Vubon

In [11]:
#Packing and Unpacking of variables
friends = ["Somip", "Ifaez", "Vubon"]
class_mate_1, class_mate_2, class_mate_3 = friends
print(class_mate_1)
print(class_mate_2)
print(class_mate_3)

Somip
Ifaez
Vubon

In [12]:
e = f = g = 'Python Class'

print(e)
print(f)
print(g)

Python Class
Python Class
Python Class

In [13]:
# Global Variables
x = "excellent teacher"

def teacher_rating():
  print("HAS sir is an " + x)

teacher_rating()

HAS sir is an excellent teacher

In [14]:
x = "excellent teacher"

def teacher_rating():
  global x
  x = "Kind person"

teacher_rating()
print("HAS sir is a " + x)

HAS sir is a Kind person

In [15]:
#Finding a random number between 1 to 10

import random as rd

print(rd.uniform(103.45, 118.92))
print(rd.randrange(1, 10))

105.66491113399186
8

In [16]:
# String Positing
a = "Hello friends!"
print(a[10])

n

In [17]:
print(len(a))

14

In [18]:
#Loop through a string
lecture_type = "It is a fun class"

print(len(lecture_type))

for x in lecture_type:
  print(x)

17
I
t

i
s

a

f
u
n

c
l
a
s
s

In [27]:
# String Slice
a = "Hello, class of python snakes!"
print(a[3:10])

lo, cla

In [28]:
print(a[3:])

lo, class of python snakes!

In [29]:
print(a[:-3])

Hello, class of python snak

In [30]:
print(a[-3:])

es!

In [31]:
print(a[-9:-4])

n sna

In [32]:
print(a.upper())

HELLO, CLASS OF PYTHON SNAKES!

In [33]:
print(a.lower())

hello, class of python snakes!

In [34]:
print(a.replace("P", "C"))

Hello, class of python snakes!

In [20]:
#Concatenation or Joining two strings
x = "Python seems easy"
y = " when HAS sir teaches"
print(x + y)

Python seems easy when HAS sir teaches

In [35]:
#String formatting with input
name = input("Enter Your name: ")
varsity = input("Name of your University? : ")
department = input("Your Department? :  ")
year = input("What semester are you in now? :  ")
major = input("Your major? :  ")

txt = "My Name is {0}. I am studying at {1} in {2} department. This is my {3} semester. I am persuing {4} as my major."
print(txt.format(name, varsity, department, year, major))

Enter Your name: Ifaez Amin Chowdhury
Name of your University? : NSU
Your Department? :  BBA
What semester are you in now? :  11th
Your major? :  Finance & Accounting
My Name is Ifaez Amin Chowdhury. I am studying at NSU in BBA department. This is my 11th semester. I am persuing Finance & Accounting as my major.