In [ ]:
#tuples
first_tuple = ("Peach", "Jackfruit", "Mango")
print(first_tuple)

('Peach', 'Jackfruit', 'Mango')

In [ ]:
print(len(first_tuple))

3

In [ ]:
print(type(first_tuple))

<class 'tuple'>

In [ ]:
#Condtional statements

item_1 = input("Please input something: ")

if item_1 in first_tuple:
  print("The fruit is here")
else:
  print("The fruit is not here.")

Please input something: Grape
The fruit is not here.

In [ ]:
#Converting a tuple into a list
x = ("lobster", "steak", "mashed potato", "rice")
y = list(x)
print(y[1])

steak

In [ ]:
#Addition to the tuple
y.append("vegetables")
print(y)

['salad', 'chicken fry', 'mashed potato', 'rice', 'vegetables']

In [ ]:
y_2 = ("deserts", "sweet items")
x += y_2
print(x)

('lobster', 'steak', 'mashed potato', 'rice', 'deserts', 'sweet items')

In [ ]:
#Unpacking in Tuples
"""
A process of clearly identifying an exact object in the dataset through exact position
"""
(y_1, y_2, y_3, y_4, y_5, y_6) = x
print(y_3)
print(y_5)

mashed potato
deserts

In [ ]:
x = ['Coleselaw', 'steak', 'mashed potato', 'rice', 'deserts', 'Cake']
(k_1, k_2, *k_3, k_4) = x
print(k_1)
print(k_3)

Coleselaw
['mashed potato', 'rice', 'deserts']

In [ ]:
#Looping process
for i in x:
  print(x)

['Coleselaw', 'steak', 'mashed potato', 'rice', 'deserts', 'Cake']
['Coleselaw', 'steak', 'mashed potato', 'rice', 'deserts', 'Cake']
['Coleselaw', 'steak', 'mashed potato', 'rice', 'deserts', 'Cake']
['Coleselaw', 'steak', 'mashed potato', 'rice', 'deserts', 'Cake']
['Coleselaw', 'steak', 'mashed potato', 'rice', 'deserts', 'Cake']
['Coleselaw', 'steak', 'mashed potato', 'rice', 'deserts', 'Cake']

In [ ]:
#Looping indexing
for m in range(len(x)):
  print(x[m])

Coleselaw
steak
mashed potato
rice
deserts
Cake

In [ ]:
i = 0

while i < len(x):
  print(x[i])
  i += 1

Coleselaw
steak
mashed potato
rice
deserts
Cake

In [ ]:
#Adding tuples
tuple_1 = ("a", "b", "c")
tuple_2 = (1, 2, 3)
tuple_3 = tuple_1 + tuple_2
print(tuple_3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
#Sets
set_1 = {'Coleselaw', 'steak', 'mashed potato', 'rice', 'mushrooms' 'deserts', 'Cake'}
print(set_1)

{'steak', 'mushroomsdeserts', 'rice', 'Cake', 'Coleselaw', 'mashed potato'}

In [ ]:
for i in set_1:
  print(i)

steak
mushroomsdeserts
rice
Cake
Coleselaw
mashed potato

In [47]:
item = input("Enter your query: ")

if item in set_1:
  print("Desired item is there.")
else:
  print("Desired item is not there.")

Enter your query: steak
Desired item is there.

In [30]:
set_1.add("fruit salad")
set_1.remove("fruit salad")
print(set_1)

{'rice', 'mashed potato', 'steak', 'mushroomsdeserts', 'Hard Drinks', 'chips', 'Cake', 'Coleselaw', 'chocolates', 'starters'}

In [31]:
set_2 = {"Hard Drinks", "starters", "chips", "chocolates"}
set_1.update(set_2)
print(set_1)

{'rice', 'mashed potato', 'steak', 'mushroomsdeserts', 'Hard Drinks', 'chips', 'Cake', 'Coleselaw', 'chocolates', 'starters'}

In [33]:
#Finding the common grade between two grades
grade_1 = {84, 56, 48, 35, 32, 34, 25}
grade_2 = {25, 26, 21, 27, 35, 40, 37}
grade_1.intersection_update(grade_2)
print(grade_1)

{25, 35}

In [34]:
common_grade = grade_1.intersection(grade_2)
print(common_grade)

{25, 35}

In [35]:
uncommon_grade = grade_1.symmetric_difference(grade_2)
print(uncommon_grade)

{37, 21, 40, 26, 27}

In [36]:
# Nested Dictionaries

total_dict = {
  "dict_1" : {
    "name" : "Ifaez",
    "cgpa" : 3.74,
    "year" : 2023,
    "type" : "STEM",
    "quality_publication" : 0,
    "programming_knowledge": 2,
    "professional_cert": 0,
    "entrance_exam": 0
},
  "dict_2" : {
      "name": "Yilun",
      "cgpa": 3.94,
      "year": 2018,
      "type": "STEM",
      "quality_publication": 23,
      "programming_Knowledge": 11,
      "professional_cert": 7,
      "entrance_exam": 5
  }
}
print(total_dict)

{'dict_1': {'name': 'Ifaez', 'cgpa': 3.74, 'year': 2023, 'type': 'STEM', 'quality_publication': 0, 'programming_knowledge': 2, 'professional_cert': 0, 'entrance_exam': 0}, 'dict_2': {'name': 'Yilun', 'cgpa': 3.94, 'year': 2018, 'type': 'STEM', 'quality_publication': 23, 'programming_Knowledge': 11, 'professional_cert': 7, 'entrance_exam': 5}}

In [37]:
dict_1 = {
    "name" : "Ifaez",
    "cgpa" : 3.74,
    "year" : 2023,
    "type" : "STEM",
    "quality_publication" : 0,
    "programming_knowledge": 2,
    "professional_cert": 0,
    "entrance_exam": 0
}
t = dict_1.get("cgpa")
print(t)

3.74

In [38]:
t_1 = dict_1.keys()
print(t_1)

dict_keys(['name', 'cgpa', 'year', 'type', 'quality_publication', 'programming_knowledge', 'professional_cert', 'entrance_exam'])

In [39]:
dict_1["experience"] = 3
print(dict_1)

{'name': 'Ifaez', 'cgpa': 3.74, 'year': 2023, 'type': 'STEM', 'quality_publication': 0, 'programming_knowledge': 2, 'professional_cert': 0, 'entrance_exam': 0, 'experience': 3}

In [40]:
t_3 = dict_1.values()
print(t_3)

dict_values(['Ifaez', 3.74, 2023, 'STEM', 0, 2, 0, 0, 3])

In [41]:
dict_1["cgpa"] = 3.75
print(dict_1)

{'name': 'Ifaez', 'cgpa': 3.75, 'year': 2023, 'type': 'STEM', 'quality_publication': 0, 'programming_knowledge': 2, 'professional_cert': 0, 'entrance_exam': 0, 'experience': 3}

In [ ]:
t_4 = dict_1.items()
print(t_4)

dict_items([('name', 'Hasan'), ('cgpa', 3.75), ('year', 2018), ('type', 'STEM'), ('quality_publication', 2), ('programming_knowledge', 5), ('professional_cert', 2), ('entrance_exam', 1), ('experience', 3)])

In [ ]:
f_1 = input("Enter a desired condition: ")

if f_1 in dict_1:
  print("Effective condition.")
else:
  print("Undesirable condition.")

Enter a desired condition: entrance_exam
Effective condition.

In [42]:
for x in dict_1:
  print(x)

name
cgpa
year
type
quality_publication
programming_knowledge
professional_cert
entrance_exam
experience

In [43]:
for i in dict_1.values():
  print(i)

Ifaez
3.75
2023
STEM
0
2
0
0
3

In [44]:
for m, n in dict_1.items():
  print(m, n)

name Ifaez
cgpa 3.75
year 2023
type STEM
quality_publication 0
programming_knowledge 2
professional_cert 0
entrance_exam 0
experience 3